.msg_show {
  min-width: 450px;
  max-width: 510px;
  border: 0;
}

.users_show {
  border-right: 5px solid #888;
  width: 200px;
  float: left;
  background: #fff;
  height: 100%;
  position: relative;
  top: 0;
  bottom: 0;
}

.msg_editable {
  background: #FFFFFF;
  color: black;
  border: 1px solid #C0CAD5;
  width: 450px;
  min-height: 40px;
  padding: 3px 25px 3px 3px;
  padding-bottom: 5px;
  margin-bottom: 3px;
  outline: 0;
  border-radius: 2px;
  line-height: 150%;
  word-wrap: break-word;
  cursor: text;
}

.button {
  padding: 6px 16px 7px 16px;
  margin: 0;
  font-size: 11px;
  display: inline-block;
  zoom: 1;
  cursor: pointer;
  white-space: nowrap;
  outline: none;
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
  vertical-align: top;
  overflow: visible;
  line-height: 13px;
  text-decoration: none;
  background: none;
  background-color: #6383a8;
  color: #FFF;
  border: 0;
  border-radius: 2px;
}

.alt-color {
  background-color: #DFE7F2;
}